<app-clock-display
  [clockDisplay]="(stopWatch|async)?.stopWatchTime"
  class="block mb-10"
>
</app-clock-display>
<app-buttons-row class="flex gap-4 mb-10 w-full sm:w-[70%] lg:w-50%">
  <app-reset-button class="basis-[33.333%]"></app-reset-button>
  <app-start-stop-button
    class="basis-[33.333%]"
    [stopWatchRunning]="stopWatchRunning |async"
  ></app-start-stop-button>
  <app-start-lap-button
    class="basis-[33.333%]"
    [stopWatchRunning]="stopWatchRunning |async"
  ></app-start-lap-button>
</app-buttons-row>
<app-lap-list class="block h-[150px]"></app-lap-list>

