<table *ngIf="lapsArray.length" [@showHideLapList]>
  <thead>
    <tr>
      <th class="text-xl">№</th>
      <th class="px-1 text-xl">Current Lap Time</th>
      <th class="px-1 text-xl">Lap Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lap of lapsArray; let i = index" #lapElement>
      <td class="text-xl">{{ i + 1 }}</td>
      <td class="px-1 min-[400px]:px-5 text-xl">
        {{ lap.currentLapTime.hours | addZero }}:{{
          lap.currentLapTime.minutes | addZero
        }}:{{ lap.currentLapTime.seconds | addZero }}
        <span class="text-xs">{{
          lap.currentLapTime.milliseconds | addZero
        }}</span>
      </td>
      <td class="px-1 min-[400px]:px-5 text-xl">
        {{ lap.stopWatchTime.hours | addZero }}:{{
          lap.stopWatchTime.minutes | addZero
        }}:{{ lap.stopWatchTime.seconds | addZero }}
        <span class="text-xs">{{
          lap.stopWatchTime.milliseconds | addZero
        }}</span>
      </td>
    </tr>
  </tbody>
</table>
